version: "3"

services:
  web-builder:
     image: node:22-alpine  # 官方Node.js v22镜像（Alpine版仅约180MB）:ml-citation{ref="3,4" data="citationList"}
     volumes:
       - ../Web/:/app         # 挂载项目代码目录
       - ./.env.production:/app/.env.production
     working_dir: /app
     environment:
       NODE_ENV: development
     command: sh -c "npm install --legacy-peer-deps --registry=https://registry.npmmirror.com && npm run build"
  net-builder:
    image: mcr.microsoft.com/dotnet/sdk:9.0
    volumes:
      - ../Admin.NET/:/app
    working_dir: /app
    command: dotnet build Admin.NET.sln -c Release



