@use 'element-plus/dist/index.css' as *;
@use './app.scss' as *;
@use 'common/transition.scss' as *;
@use './other.scss' as *;
@use './element.scss' as *;
@use './media/media.scss' as *;
@use './waves.scss' as *;
@use './dark.scss' as *;
@use '../assets/icons/index.scss' as *;
