.table-tool-popper {
	padding: 0 !important;
	.tool-box {
		display: flex;
		border-bottom: 1px solid var(--el-border-color-lighter);
        margin-bottom: 5px;
		box-sizing: border-box;
		color: var(--el-text-color-primary);
		height: 40px;
		align-items: center;
	}
	.tool-sortable {
		max-height: 303px;
		.tool-sortable-item {
            height: var(--el-checkbox-height, 32px);;
			display: flex;
			box-sizing: border-box;
			color: var(--el-text-color-primary);
			align-items: center;
			padding: 0 12px;
            cursor: grab;
			&:hover {
				background: var(--el-fill-color-lighter);
			}
			i {
				opacity: 0.7;
			}
		}
        .tool-sortable-item-draggable[data-fixed="false"] {
            background-color: var(--el-color-warning-light-9);
        }

        .sortable-ghost{ 
            background: var(--el-fill-color-lighter);
            border: 1px dashed var(--w-e-toolbar-disabled-color) !important;
            opacity: 0.3; /* 减淡颜色，使其半透明 */
        }
	}
}
